// Carousel

.carousel{
    margin: 0 auto;
    width: 100%;
    .section-top-margin();
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 500px;
    position: relative;
    overflow: hidden;
    border: 5px solid black;

    @media @tablet {
        border: none;
        height: 400px;
    }

    @media @mobile {
        border: none;
        height: 300px;
    }


    .left-button, .right-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color:white;
        background-color: @deep-red;
        font-size: 40px;
        border-radius: 50%;
        position: absolute;
        width: 50px;
        height: 50px;
        cursor: pointer;

        &:hover {
            color: @deep-red;
            background-color: white;
            border: 2px solid @deep-red;
        }
    }

    .left-button {
        top: 50%;
        left: 25px;
        transform: translate(0, -50%);
        z-index: 1; //brings to front
    }

    .right-button {
        top: 50%;
        right: 25px;
        transform: translate(0, -50%);
        z-index: 1; //brings to front
    }

    img {
        width: 100%;
        display: none;
        position: absolute;
        //opacity: 1;
        animation-name: fade;
	    animation-timing-function: ease-in-out;
	    //animation-iteration-count: infinite;
	    animation-duration: 1s;
	    animation-direction: alternate;
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }
        25% {
            opacity: .5;
        }
        75% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }

}
