.footer-section {
    width: 100%;
    height: 70px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;

    .nav-section {
        display: flex;
        justify-content: space-between;
        
        a {
            text-decoration: none;
        }

    }
}