// General Styles
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'Ubuntu', sans-serif;
  color:black;
}

h1, h2, h3, h4, h5 {
  font-family: 'Prata', sans-serif;
  color: rgb(151, 4, 85);
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-family: 'Rock Salt';
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;  
}

img {
  max-width: 800px;
}


