// Home Content

.home {
    width: 100%;


    // -------------- HEADER SECTION--------------
    .header-section {
        //margin-top: insert mixin or variable
        .section-top-margin();

        h1 {
            text-align: center;
            line-height: 1.5;
        }

        .carousel {
            .section-top-margin();
        }

        .header-text {
            .section-top-margin();
            .section-padding();
        }

    } 

    .who-is-a-refugee {
        .section-top-margin();
        .section-padding();

        p {
            margin-top: 15px;
        }
    }

    .stories-are-important {
        .section-top-margin();
        .section-padding();
        display: flex;
        justify-content: space-between;


         .stories-img-container {
            width: 45%;
            border: 2px solid red;

            img {
                width: 100%;
                vertical-align: center;
            }
        }
        
        .stories-are-important-text {
            width: 45%;

            p {
                margin-top: 15px;
            }

        }

       
    }

    .story-previews {
        .section-top-margin();
        .section-padding();
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 2px solid red;

        .preview {
            background-color: lightgrey;
            //border: 1px solid green;
            display: flex;
            flex-direction: row;
            .section-top-margin();
            padding: 2%;
            justify-content: space-between;

            .preview-text {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                h3 {
                    text-align: center;
                }

                .full-story-btn {
                    .custom-btn(30%);
                    margin-top: 15px;
                }
            }


            .author {
                width: 35%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                //border: 1px solid brown;
                flex-flow: wrap;

                .author-img-container {
                    width: 30%;

                    img {
                        width: 100%;
                    }
                }

                p {
                    //border: 1px solid orange;
                    text-align: center;
                }

            }
        }// .preview
        
        .btn {
            .section-top-margin();
            
            .view-stories-btn {
                .custom-btn(100%);
            }
        }

    } // .story-previews section

    .submit-story-section {
        .section-top-margin();
        .section-padding();

        p {
            margin-top: 15px;
        }

        .submit-story-form {
            margin-top: 15px;
            font-size: 1.6rem;

            input {    
                font-size: 1.5rem;

                &:focus {
                    background-color: rgb(151, 4, 85);
                    color: white;
                }
            }

            .short-line {
                width: 40%;
                margin: 1% 0;
            }

            .long-line {
                width: 60%;
                height: 100px;
                overflow: scroll;
            }

            input[type=submit] {
                margin-top: 15px;
                .custom-btn(20%);
            }
        }
    }
}