// Home Content

.home {
  width: 100%;
  background-color: white;

  @media @tablet {
    width: 90%;
    padding: 20px;
  }
  @media @mobile {
    width: 90%;
    padding: 20px;
  }

  // -------------- HEADER SECTION--------------

  .header-section {
    padding-top: 35px;

    h1 {
      text-align: center;
      line-height: 1.5;

      @media @mobile {
        width: 90%;
        margin: 0 auto; //centers
      }
    }

    .header-text {
      .section-padding();
    }
  }
  // -------------- QUOTE  SECTION--------------

  .quote {
    .section-top-margin();
    .section-padding();
    padding-bottom: 35px;
    background-color: @mustard;
    border-top: 3px solid black;

    h4 {
      width: 70%;
      margin: 0 auto;
      text-align: center;
    }
  }

  // -------------- MAIN CONTENT SECTION--------------

  .who-is-a-refugee {
    //.section-top-margin(); // because quote section has bottom padding
    .section-padding();
    border-top: 3px solid black;

    p {
      margin-top: 15px;
    }
  }

  .stories-are-important {
    .section-padding();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @tablet {
      flex-direction: column;
    }

    //redundant
    @media @mobile {
      flex-direction: column;
    }

    .stories-img-container {
      width: 40%;

      @media @tablet {
        width: 100%;
      }

      //redundant
      @media @mobile {
        width: 100%;
      }

      .long-wasteland {
        width: 100%;

        @media @tablet {
          display: none;
        }
      }

      .wide-wasteland {
        display: none;
        width: 100%;

        @media @tablet {
          display: block;
        }
      }
    }

    .stories-are-important-text {
      width: 55%;

      @media @tablet {
        .section-top-margin();
        width: 100%;
      }
      //redundant
      @media @mobile {
        .section-top-margin();
        width: 100%;
      }

      p {
        margin-top: 15px;
      }
    }
  }

  // -------------- STORY PREVIEW SECTION--------------

  .story-previews {
    .section-top-margin();
    .section-padding();
    border-top: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .preview {
      background-color: @mustard;
      border-radius: 15px;
      display: flex;
      flex-direction: row;
      .section-top-margin();
      padding: 2%;
      justify-content: space-between;

      @media @mobile {
        flex-direction: column;
      }

      .preview-text {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        @media @mobile {
          width: 100%;
        }

        h3 {
          text-align: center;
        }

        .full-story-btn {
          .custom-btn(40%);
          margin-top: 15px;
        }
      }

      .author {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        @media @mobile {
          display: none;
        }

        .author-img-container {
          width: 70%;

          @media @mobile {
            width: 10%;
          }

          img {
            width: 100%;
            border-radius: 10px;
          }
        }

        p {
          text-align: center;
        }
      }
    } // .preview

    .article-open {
        height: 400px;
    }

    .btn {
      .section-top-margin();

      a {
        font-size: 1.5rem;
        text-decoration: none;
        color: white;

        .view-stories-btn {
          .custom-btn(100%);
          z-index: 1;
        }
      }
    }
  } // .story-previews section
} // .home






// -------------- SUBMIT YOUR STORY FORM SECTION--------------

/*
  .submit-story-section {
    //.section-top-margin(); // because above button has bottom padding
    .section-padding();

    p {
      margin-top: 15px;
    }

    .submit-story-form {
      margin-top: 15px;
      font-size: 1.6rem;

      @media @mobile {
          width: 90%;
          margin: 10px auto 0;
      }

      input {
        font-size: 1.5rem;

        &:focus {
          background-color: black;
          color: @mustard;
        }
      }

      .short-line {
        width: 40%;
        margin: 1% 0;

        @media @mobile {
            width: 90%;
        
        }
      }

      .long-line {
        width: 60%;
        height: 100px;
        overflow: scroll;

        @media @mobile {
            width: 90%;
        }
      }

      input[type="submit"] {
        margin-top: 15px;
        .custom-btn(20%);

        @media @mobile {
            .custom-btn(90%);
        }
      }
    }
  } // submit your story form

  */
