// Mixins

.section-top-margin() {
    margin-top: 35px;
}

.section-padding() {
    padding: 0 2%;
}

.custom-btn (@width: 100%) {
    width: @width;
    background-color: rgb(151, 4, 85);
    color: white;
    padding: 10px 2px;
    font-size: 1.4rem;
    border: 1px solid grey;
    border-radius: 5px;

    &:hover {
        background-color: white;
        color: rgb(151, 4, 85);
        cursor: pointer;
    }
}



/*
 @m


*/ 